h1 {
    text-align: center;
    background-color: #e3e7bcd3;
    color: rgb(143, 101, 22);
}

.listofrecipes,
a {
    background-color: #e3e7bcd3;
    color: rgb(133, 71, 34);
    text-decoration: none;
}

a:hover {
    background-color: rgb(221, 221, 221);
}

li {
    color: rgb(192, 184, 155);
}